DATABASE_URL=postgres://user:mypassword@localhost:5432/app_db?sslmode=disable

# Configuración adicional (opcional)
DB_MAX_OPEN_CONNS=10    # Máximo número de conexiones abiertas
DB_MAX_IDLE_CONNS=5     # Máximo número de conexiones ociosas

# Puerto de ejecuccion
PORT=8080

# JWT secrect para firmar tokens
JWT_SECRET=mypassword-super-secreto-y-largo-para-seguridad-1234567890
